/* - - - раздел "заказать услугу" - - - */

.hero__section {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

/* кнопка "заказать услугу" */

.hero__button {
  margin-top: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  color: $color-accent-text;
  background-color: $color-accent;
  border-radius: 4px;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
