/* - - - раздел "наша команда" - - - */
.team__section {
  background-color: var(--color-background-third);
}

.team {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: calc((100% + var(--grid-indent)) / 4 - var(--grid-indent));
    margin-right: var(--grid-indent);
    background-color: $color-background-main;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.team__member {
  padding-top: 30px;
  padding-bottom: 30px;

  &-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    color: $color-title;
  }

  &-post {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

/* контейнер соцсетей */

.social-network {
  margin-top: 16px;
  display: flex;
  justify-content: center;

  // отступы в соцсетях
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  //контейнер иконок с ссылками на соцсети
  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    fill: $color-social-network-main;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    // наведение на контейнер
    &:hover,
    &:focus {
      fill: $color-accent-text;
      background-color: $color-accent;
    }
  }

  //размер иконок
  &__icon {
    width: 20px;
    height: 20px;
  }
}

/* ссылки на соцсети */

// .social-network__link {
//   display: flex;
//   width: 44px;
//   height: 44px;
//   fill: $color-social-network-main;
//   border-radius: 50%;
//   align-items: center;
//   justify-content: center;
// }

// .social-network__icon {
//   width: 20px;
//   height: 20px;
// }

// .social-network__link:hover,
// .social-network__link:focus {
//   fill: var(--color-fifth);
//   background-color: var(--color-fourth);
// }
